.modal-content-wrapper {
  font-size: 14px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
  button.active {
    &:before {
      position: absolute;
      content: url("../img/check-icon.svg");
      width: 12px;
      height: 12px;
      display: inline-block;
      right: 1em;
      top: 50%;
      margin-top: -12px;
    }
  }
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.14286em 0.857143em;
    height: auto;
    margin: 0;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(230, 232, 234);
    border-image: initial;
    outline: none;
    text-decoration: none;
    background-color: white;
    &:first-child {
      border-radius: 1em 1em 0 0;
    }
    &:last-child {
      border-radius: 0 0 1em 1em;
    }
    .title-suspended {
      font-size: .75em;
    }
    &:hover {
      background-color: rgba(240, 185, 11, 0.06);
    }
  }
  .single-img {
    margin-right: 0.5em;
    img {
      width: 2em;
      height: 2em;
    }
  }
  .option-desciption {
    .option-symbol {
      font-size: 1em;
      color: rgb(30, 32, 38);
      font-weight: bold;
      line-height: normal;
    }
    .option-name {
      font-size: 0.857143em;
      color: rgb(118, 128, 143);
      font-weight: 400;
      line-height: normal;
    }
  }
}