@import "vars";
@import "fonts";
@import "header";
@import "footer";
@import "restyle_bootstrap";
@import "dropd";
@import "modal";

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {height: 100%;}

body {
	font-size: 16px;
	font-weight: 400;
	min-width: 320px;
	position: relative;
	font-family: $default;
	color: $text;
	overflow-x: hidden;
    background-color: rgb(245, 245, 245);
}

img, svg {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

input, button, textarea {
	outline: none;
	font-family: $default;
	&:focus {
		outline: none;
	}
}

input, textarea {padding: 10px;}

textarea {resize: none;}

ul {list-style: none;}

a {
	text-decoration: none;
	color: inherit;
	@extend.animate;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

h1, h2, h3, h4 {
	font-weight: inherit;
}

.main {
  //padding-top: 5em;
  //padding-bottom: 5em;
}

.animate {
    transition: background 150ms ease 0s, color 150ms ease 0s, border 150ms ease 0s;
}



///new MDEX

.container-color {
  box-shadow: -1px -1px 1px 0px rgba(255, 255, 255, 0.3);
  background: linear-gradient( 180deg,#4e60a7,#9baece 14%,rgba(226,242,252,.73) 33%,rgba(231,239,252,.71));
}

.home-assets-amount {
  font-size: 32px;
  color: #fff;
  .amount-icon{
    display: inline-block;
    width: 55px;
    height: 48px;
    background: url("../img/icon/home-assets-amount-icon.png");
    background-size: cover;
  }
}

.home-info-pc {
  .h-info-item {
    margin: 0 12px;
    height: 48px;
    background: #fffdfa;
    border-radius: 24px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-img {
      height: 30px;
      width: 30px;
    }
  }
}

.home__assets-price-card {
  background-color: white;
  box-shadow: rgba(10, 20, 111, 0.05) 0px 10px 20px 0px, rgba(255, 255, 255, 0.3) 1px 1px 1px 0px;


  .card__item-key {
    font-size: 12px
  }
  .card__item-value {
    font-size: 24px;
    font-weight: 500;
  }
  .card__item-value.new-item-value.numbers {
    span {
      background-color: #000;
      color: #fff;
      border-radius: 4px;
      //font-size: 16px;
      display: inline-block;
      text-align: center;
      padding-right: 1px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 16px;
    }
  }
}

.home-input__wrap {
  .input-wrap {
    background-color: #fff;
    header {
      height: 60px;
      border-radius: 8px 8px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;

    }
    .board.header-img {
      background-color: #04c19e;
    }
    .liuq.header-img{
      background-color: #ffa62d;
    }
  }

}

.home-input__current {
  .current {
    width: 538px;
    height: 154px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .06);
    border-radius: 8px;
    padding: 30px;

    background: url("../img/bg/curent1.png");
  }
  .current2 {
    background: url("../img/bg/curent2.png");
  }
}

.home-count__wrap {
  background: #fff;
  .count-wrap {
    height: 70px;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    border-bottom: 1px solid #dee0ed;
    &:last-child {
      border-bottom: none;
    }
  }
}

.main-slider {
  height: 400px;
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }


  }
  @media only screen and (max-width: 768px) {
    height: 250px;
  }
}
